@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";

.cardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: #E56366;
    margin-right: 10px;
    cursor: pointer;
    @include font(14px, 400, 17px);
  }
}

.cardName {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  img {
    margin: 5px 10px 0 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  div {
    p {
      color: #121213;
      @include font(14px, 400, 17px);
    }

    span {
      color: #A0A0A0;
      @include font(14px, 400, 17px);
    }
  }
}
.unSub{
  color: #24475A !important;
}