.profileFeed {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 10px;
  }
  @media (max-width: 600px) {
    justify-content: center;
  }
}

.profileFeedTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileTitle {
  display: flex;
  justify-content: space-between;
}

.subscribed {
  background: #cccccc;
  color: #FFFFFF;
  padding: 8px 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.default {
  background: #E56366;
  color: #FFFFFF;
  padding: 8px 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}