@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 6px;
  z-index: 1;

  &__headline {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;

    img {
      border-radius: 78%;
      width: 32px;
      height: 32px;
      margin-right: 8px;
      object-fit: cover;
    }

    &__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      gap: 4px;

      &_name {
        font-size: 14px;
        line-height: 14px;
        color: #121213;
        cursor: pointer;
      }

      &_address {
        font-size: 12px;
        line-height: 15px;
        color: #A0A0A0;
      }
    }

    &__follow {
      margin-left: auto;
      .followed{
        color: #667689;
      }
      &_text {
        font-size: 14px;
        line-height: 17px;
        color: #E56366 !important;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: 10px 16px 19px 16px;

    &__category {
      font-size: 13px;
      line-height: 16px;
      color: #818181;
    }

    &__description {
      width: 100%;
      margin-top: 8px;
      font-size: 14px;
      line-height: 17px;
      color: #121213;
    }

    &__commentary {
      margin-top: 12px;
      font-size: 14px;
      line-height: 17px;
      color: #A5A5A5;
    }

    &__timeAndView {
      display: flex;
      justify-content: space-between;
      margin-top: 15.5px;
      width: 100%;
      font-size: 14px;
      line-height: 17px;
      color: #A5A5A5;

      &_time {
        float: left;
      }

      &_view {
        float: right;

        & svg {
          margin-right: 4px;
        }
      }
    }
  }
}

.userPublication {
  display: flex;
  position: absolute;
  float: right;
  width: 56px;
  height: 24px;
  top: 12px;
  right: 12px;
  z-index: 2;
  //pointer-events: none;
  &__edit {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 8px;

    & svg {
      path {
        stroke: #F8F8F8;
      }
    }
  }

  &__delete {
    cursor: pointer;
    width: 24px;
    height: 24px;

    & svg {
      path {
        fill: #F8F8F8;
      }
    }
  }
}

.modal {
  width: 390px;
  height: 150px;
  padding: 16px 24px;
  background: #FFFFFF;

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #272D33;
    margin-bottom: 24px;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
  }

  &__changeButton {
    height: 44px;
    width: 165px;
    background: #E56366;
    border: 1px solid #E56366;
    box-sizing: border-box;
    border-radius: 6px;

    &_text {
      font-size: 14px;
      line-height: 150%;
      display: flex;
      align-items: flex-end;
      text-align: center;
      color: #FFFFFF;
    }
  }

  &__cancelButton {
    height: 44px;
    width: 165px;
    border: 1px solid #E56366;
    box-sizing: border-box;
    border-radius: 6px;

    &_text {
      font-size: 14px;
      line-height: 150%;
      display: flex;
      align-items: flex-end;
      text-align: center;
      color: #E56366;

    }
  }
}

@include respond-above(sm) {

}

@include respond-above(md) {

}

@include respond-above(lg) {

}

@include respond-above(mac) {

}

@include respond-above(xlg) {

}

@include respond-above(fhd) {

}

@include respond-above(fhd-plus) {

}

@include respond-above(2 k) {

}