.card {
  height: auto;
  border: 1px solid #DFDFDF;
  border-radius: 6px;
  margin: 10px 0px;
  cursor: pointer;
  position: relative;
}

.noContent {
  font-family: Inter, sans-serif;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;

  &:hover {
    .btnGroup {
      opacity: 1;
    }
  }

  .btnGroup {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity .3s;

    > svg {
      margin: 0 5px;
    }
  }
}

