@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";
@import '/styles/modules/mixins/button';

.profilePage {
  display: flex;
}

.profileInfo {
  margin-right: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

}

.social {
  margin-top: 10px;
  width: 30%;
  display: flex;
  justify-content: center;

  a {
    cursor: pointer;
  }

  img {
    margin: 10px 10px 0 0;
  }
}

.subs {
  margin: 10px 0;
  display: flex;
  border: 1px solid #F0F0F0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

    .title {
      color: #7E7E7E;
      @include font(14px, 500, 16px);
    }

    span {
      @include font(14px, 500, 16px);
    }
  }
}

.fio {
  @include font(18px, 500, 22px);
  margin: 10px 0;
}

.age {
  color: #495360;
  @include font(16px, 500, 20px);
  margin: 10px 0;
}

.phone {
  color: #091A2E;
  @include font(16px, 400, 20px);
}

.profileFeedContainer {
  width: 100%;
}

.feed {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 10px 10px;
  }
}