@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.codeConfirmForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.11);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #374257;
  }
  &__formContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    margin: auto 0;
  }
    &__codeConfirmFormTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #201E1E;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px;
    line-height: 150%;
    color: #828282;
    margin-bottom: 16px;

    &_link {
      color: #E56366;
    }
  }

  &__input {
    width: 100%;
    padding: 10px 12px 10px 16px;
    height: 44px;
    background: transparent;
    border: 1px solid #E6EFF9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 30px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #667689;

    }

    &:focus {
      color: #121213;
    }
  }

  &__button {
    width: 100%;
    border-radius: 6px;
    height: 44px;
    color: #FFFFFF;
    outline: none;
    border: none;

    &_submitButton {
      background: #E56366;
    }
    &_submitAgain {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 16px;
      padding-right: 14px;
      background: #667689;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: left;

      &_timer {
        display: none;
      }
    }
  }

  &__button {
    &_submitButton:disabled {
      background: rgba(229, 99, 102, 0.5);
    }

    &_submitAgain:disabled {
      background: rgba(102, 118, 137, 0.5);
    }
  }

  &__label {
    margin-top: 40px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #989797;
    margin-bottom: 10px;
  }
  &__modal {
    align-items: center;
    width: calc( 100vw -  32px);
    height: 207px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: #FFFFFF;
    & svg  {
      width: 60px;
      height: 60px;
      margin-bottom: 18px;
    }

    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #181818;
      margin-bottom: 32px;
    }

    &__button {
      height: 44px;
      width: 100%;
      background: #E56366 !important;
      border-radius: 10px;
      border: 1px solid #E56366;
      box-sizing: border-box;

      &_text {
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: #FFFFFF !important;
      }
    }
  }
}

@include respond-above(xxxxs) {
  .codeConfirmForm {
    &__formContent {
     width: 320px;
    }
  }
}
@include respond-above(sm) {
  .codeConfirmForm {
    &__logo {
      height: 56px;
      font-size: 26px;
      line-height: 28px;
    }
    &__formContent {
      width: 350px;
    }
    &__codeConfirmFormTitle {
      font-size: 20px;
      line-height: 24px;
    }
  }

}

@include respond-above(md) {
  .codeConfirmForm {
    &__codeConfirmFormTitle {
      font-size: 18px;
      line-height: 22px;
    }
    &__modal {
      width: 450px;
      height: 217px;
      & svg  {
        width: 60px;
        height: 60px;
        margin-bottom: 18px;
      }

      &__title {
        font-size: 24px;
        line-height: 29px;
      }

      &__button {
        &_text {
          font-weight: 600;
          font-size: 14px;
        }
      }

    }
  }
}

