@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.loginContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  &_left {
    width: 50%;
    height: 100%;
    background: url(../../public/images/loginBg.png), #C4C4C4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_right {
    width: 50%;
    height: 100%;
    display: flex;
    background: $white;
    align-items: center;
    //justify-content: center;
    padding-left: 10%;
    padding-right: 15%;
  }
}

@include respond-above(sm) {
  .sectionClientQuotes {
    padding: 20px;

    &__headline {
      font-size: 20px;
      line-height: 22px;
    }

    &__wordContainer {
      right: 20px;
      left: 20px;
      top: 20px;
      bottom: 20px;

      &_letter {
        width: 48px;
        height: 48px;
        font-size: 70px;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    margin-top: 40px;
    width: 400px;

    &__sliderPagination {
      margin-top: 80px;

      &_icon {
        margin-left: 6px;
        margin-right: 6px;
        width: 28px;
      }
    }
  }
  .clientQuotesSlide {
    font-size: 20px;
    line-height: 132%;
  }
}

@include respond-above(md) {
  .sectionClientQuotes {
    padding: 34px;

    &__headline {
      font-size: 22px;
      line-height: 24px;
    }

    &__wordContainer {
      right: 34px;
      left: 34px;
      top: 34px;
      bottom: 34px;

      &_letter {
        width: 80px;
        height: 80px;
        font-size: 102px;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    margin-top: 60px;
    width: 600px;

    &__sliderPagination {
      margin-top: 100px;

      &_icon {
        margin-left: 8px;
        margin-right: 8px;
        width: 30px;
      }
    }
  }
  .clientQuotesSlide {
    font-size: 22px;
  }
}

@include respond-above(mac) {
  .sectionClientQuotes {
    padding: 38px;

    &__headline {
      font-size: 18px;
      line-height: 22px;
    }

    &__wordContainer {
      right: 38px;
      left: 38px;
      top: 38px;
      bottom: 38px;

      &_letter {
        width: 92px;
        height: 92px;
        font-size: 92px;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    width: 600px;
    margin-top: 40px;

    &__sliderPagination {
      margin-top: 60px;

      &_icon {
        width: 40px;
      }
    }
  }
  .clientQuotesSlide {
    font-size: 18px;
  }
}

@include respond-above(xlg) {
  .sectionClientQuotes {
    padding: 40px;

    &__headline {
      font-size: 20px;
      line-height: 24px;
    }

    &__wordContainer {
      position: absolute;
      right: 40px;
      left: 40px;
      top: 40px;
      bottom: 40px;

      &_letter {
        width: 120px;
        height: 120px;
        font-size: 120px;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    margin-top: 45px;

    &__sliderPagination {
      margin-top: 60px;

      &_icon {
        margin-left: 10px;
        margin-right: 10px;
        width: 50px;
      }
    }
  }
  .clientQuotesSlide {
    font-size: 20px;
  }
}

@include respond-above(fhd) {
  .sectionClientQuotes {
    padding: 48px;

    &__headline {
      font-weight: 300;
      font-size: 24px;
      line-height: 26px;
    }

    &__wordContainer {
      right: 48px;
      left: 48px;
      top: 48px;

      &_letter {
        width: 150px;
        height: 142px;
        font-size: 142px;
        line-height: 85.5%;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    margin-top: 50px;
    height: 260px;
    width: 820px;

    &__sliderPagination {
      margin-top: 82px;

      &_icon {
        margin-left: 10px;
        margin-right: 10px;
        width: 59px;
      }
    }
  }
  .clientQuotesSlide {
    height: 100%;
    width: 100%;
    font-size: 24px;
    line-height: 132%;
  }
}

@include respond-above(fhd-plus) {
  .sectionClientQuotes {
    padding: 52px;

    &__headline {
      font-size: 28px;
      line-height: 30px;
    }

    &__wordContainer {
      right: 52px;
      left: 52px;
      top: 52px;
      bottom: 52px;

      &_letter {
        width: 154px;
        height: 150px;
        font-size: 150px;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    margin-top: 60px;
    width: 820px;

    &__sliderPagination {
      margin-top: 92px;

      &_icon {
        margin-left: 10px;
        margin-right: 10px;
        width: 65px;
      }
    }
  }
  .clientQuotesSlide {
    font-size: 28px;
  }
}

@include respond-above(2 k) {
  .sectionClientQuotes {
    &__headline {
      font-weight: 300;
      font-size: 32px;
      line-height: 34px;
    }

    &__wordContainer {
      &_letter {
        width: 154px;
        height: 154px;
        font-size: 150px;

        &_W {
          top: calc(38%);
          left: calc(40%);
        }

        &_O {
          top: calc(38%);
          right: calc(40%);
        }

        &_R {
          bottom: calc(30%);
          left: calc(40%);
        }

        &_D {
          bottom: calc(30%);
          right: calc(40%);
        }
      }
    }
  }
  .clientQuotesSwiper {
    margin-top: 65px;
    width: 820px;

    &__sliderPagination {
      margin-top: 100px;

      &_icon {
        margin-left: 12px;
        margin-right: 12px;
        width: 70px;
      }
    }
  }
  .clientQuotesSlide {
    font-size: 32px;
  }
}
