@import '/styles/modules/mixins/navButton';
@import "/styles/modules/mixins/font";


.navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  button {
    @include navButton();
    margin: 0 10px;
    cursor: pointer;
  }

  .navBack {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin: 0 10px 0 0;
    }
  }
}

.detailInfo {
  height: 700px;
  border: 1px solid #DFDFDF;
  margin: 30px 0;
  display: flex;

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.leftHead {
  display: flex;
  margin: 10px 0 10px 10px;

  .avatar {
    margin: 0 10px;
    border-radius: 50%;
  }
}

.leftHeadName {
  @include font(14px, 400, 16px);
  color: #091A2E;
}

.leftHeadPlace {
  color: #888888;
  @include font(14px, 400, 16px);
}

.swiper {
  margin-top: 10px;

  img {
    width: 400px;
    height: 600px;
  }
}

.right {
  margin-left: 25px;
}

.category {
  p {
    color: #818181;
    @include font(14px, 400, 16px);
    margin: 10px 0;
  }
}

.detailDesc {

}

.desc {
  h3 {
    @include font(24px, 500, 30px);
    color: #121213;
  }

  p {
    @include font(16px, 400, 24px);
    color: #3E3E3E;
  }
}

.comment {
  @include font(24px, 500, 30px);
  color: #000000;

  img {
    margin-right: 10px;
  }

  .commentsData {
    display: flex;
    flex-direction: column;

    p {
      @include font(14px, 400, 20px);
    }
  }

  .comments {
    display: flex;
    overflow: auto;
  }
}

.commentTime {
  color: #A5A5A5;
  @include font(14px, 400, 16px);
}

.answer {
  color: #A5A5A5;
  @include font(14px, 600, 16px);
}

.showComments {
  color: #A5A5A5;
  @include font(14px, 400, 16px);
}