.profile {
  img {
    object-fit: cover !important;
  }
}

.profileLink {
  font-size: 14px;
  border-right: none !important;
}

.profileAvatar {
  border-right: none !important;

  img {
    object-fit: cover;
  }

  object-fit: cover;
}