@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";
@import '/styles/modules/mixins/button';

.mainfeed{
  @media (max-width: 600px) {
    padding-top: 120px;
    h2{
      display: none;
    }
  }
}
.title {
  @media (max-width: 600px) {
  }
  h1 {
    @include font(24px, 500, 30px);
    color: #121213;
  }
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  >div{
    margin: 10px 10px;
  }
}

.footer {
  @media (max-width: 600px) {
    display: none;
  }
  background: #F9F9F9;
  padding: 30px;

  > div {
    display: flex;
    justify-content: space-between;

    img {
      margin: 0 10px;
      cursor: pointer;
    }

    p {
      margin: 0 10px;
      cursor: pointer;
      @include font(14px, 300, 17px)
    }

    > div {
      display: flex;
      align-items: center;
    }
  }
}

.contacts {
  height: 70vh;
}

.authorization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  img {
    width: 50%;
    height: 100%;
  }
}

.header {
  @media (max-width: 768px) {
    display: none;
  }
}

.profilePage {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    @include btn();
    width: 200px;
    height: 40px;
  }
}

.placeholder {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .authorization{
    img{
      display: none;
    }
  }
}

