@import "../public/styles/varibles";
@import "../public/styles/mixins/index";

.container {
  padding: $paddingSm $paddingMb;
}

@include respond-above(sm) {

  .container {
    padding: $paddingSm;

  }
}

@include respond-above(md) {

  .container {
    padding: $paddingMd  ;

  }
}

@include respond-above(lg) {

  .container {
    display: flex;
    width: 1166px;
    padding: $paddingMd 0;
    margin: 0 auto;

  }
}

@include respond-above(mac) {

  .container {
    //padding: 32px 99px 64px 99px;


  }
}

@include respond-above(xlg) {

  .container {
    //padding: 32px 99px 0 99px;

  }
}

@include respond-above(fhd) {

  .container {
    //padding: 0 99px 0 99px;

  }
}

@include respond-above(fhd-plus) {

}

@include respond-above(2k) {

}