@import "../public/styles/varibles";
@import "../public/styles/mixins/index";

.container {
  padding: 18px 16px 0 16px;

}

@include respond-above(sm) {

  .container {
    padding: 18px 16px 0 16px;

  }
}

@include respond-above(md) {

  .container {
    padding: 18px 16px 0 16px;

  }
}

@include respond-above(lg) {

  .container {
    padding: 0 99px 0 99px;

  }
}

@include respond-above(mac) {

  .container {
    padding: 0 99px 0 99px;

  }
}

@include respond-above(xlg) {

  .container {
    padding: 0 99px 0 99px;

  }
}

@include respond-above(fhd) {

  .container {
    padding: 0 99px 0 99px;

  }
}

@include respond-above(fhd-plus) {

  .container {
    padding: 0 99px 0 99px;

  }
}

@include respond-above(2k) {

  .container {
    padding: 0 99px 0 99px;

  }
}