@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.ads{
  display: block;
  &__title{
  }
  &__container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 27.5px;
  }
}
@include respond-above(sm) {
  .ads{
    display: inline-block;
    &__title{
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 24px;
    }
    &__container {
      display: grid;
      grid-template-columns: 285px 285px 285px;
      justify-content: space-between;
      //grid-template-rows: auto;
      column-gap: 16px;
      row-gap: 27.5px;
    }
  }
}

@include respond-above(md) {

}

@include respond-above(lg) {

}

@include respond-above(mac) {

}

@include respond-above(xlg) {

}

@include respond-above(fhd) {

}

@include respond-above(fhd-plus) {

}

@include respond-above(2k) {

}