@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";

.mainMenu {
  width: 100%;

  div {
    width: 100%;
  }

  ul {
    width: 100%;
  }
}

.category {

  h2 {
    @include font(20px, 600, 24px);
  }

  .catBody {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  li {
    margin: 10px 0;
    cursor: pointer;
    user-select: none;


    .btn {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
      transition: all .4s;
      cursor: pointer;
    }
  }

  img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

}

.categoryTitle {
  @include font(18px, 400, 16px);
  color: #484848;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  user-select: none;
  padding: 5px 5px;

  ul {
    li {
      @include font(14px, 400, 16px);
    }
  }
}

.categoryHead {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .categoryBody {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 5px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.selected {
  color: #E56366;
  position: relative;
}

.default {
  color: #000000;
}

.round {
  width: 6px;
  max-width: 6px;
  margin-left: 10px;
  height: 6px;
  border-radius: 50%;
  background: #E56366;
}
