@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";

.publications {
  margin-left: 25px;
  h2 {
    @include font(24px, 500, 30px);
  }

  width: 100%;
  position: relative;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media (max-width: 600px) {
    justify-content: center;
  }

  > div {
    margin: 10px;
  }
}