@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.swiperCard {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__slide {
    width: 100%;
    height: 190px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  &__sliderPagination {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    &_icon {
      cursor: pointer;
      margin-left: 6.5px;
      margin-right: 6.55px;
      width: 24px;
      height: 4px;
      background: #EAEAEA;
      border-radius: 4px;
    }

    &_active {
      height: 4px;
      background: #E56366;
    }
  }
}

@include respond-above(sm) {

}

@include respond-above(md) {

}

@include respond-above(lg) {

}

@include respond-above(mac) {

}

@include respond-above(xlg) {

}

@include respond-above(fhd) {

}

@include respond-above(fhd-plus) {

}

@include respond-above(2 k) {

}