@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.swiperCard {
  display: flex;
  justify-content: space-between;
  background-size: cover !important;
  background-position: center;
  div{
    width: 100%;
    height: 200px;
  }
}

@include respond-above(sm) {

}

@include respond-above(md) {

}

@include respond-above(lg) {

}

@include respond-above(mac) {

}

@include respond-above(xlg) {

}

@include respond-above(fhd) {

}

@include respond-above(fhd-plus) {

}

@include respond-above(2k) {

}