@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.swiperCard {
  display: flex;
  justify-content: center;
  background-size: cover !important;
  background-position: center;
  &:hover{
    :global(.userPublication){
      display: flex;
      position: absolute;
      float: right;
      width: 56px;
      height: 24px;
      top: 25px;
      right: 12px;
      z-index: 2;
    }
  }
  div{
    width: 80%;
    height: 200px;
    position: relative;
    &:after{
      position: absolute;
      bottom: -5px;
      content: "";
      width: 90%;
      height: 4px;
      background: #EAEAEA;
      border-radius: 6px;
    }
    &:hover{
      &:after{
        transition: .5s;
        position: absolute;
        bottom: -5px;
        content: "";
        width: 90%;
        height: 4px;
        background-color: #E56366;
        border-radius: 6px;
      }
    }
  }
}

@include respond-above(sm) {

}

@include respond-above(md) {

}

@include respond-above(lg) {

}

@include respond-above(mac) {

}

@include respond-above(xlg) {

}

@include respond-above(fhd) {

}

@include respond-above(fhd-plus) {

}

@include respond-above(2k) {

}
