@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.collapse {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #FEFEFE;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 12px;

  &__visible {
    display: flex;
    align-items: center;
    color: #3E3E3E;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__collapseIcon {
    position: absolute;
    right: 23px;
    display: flex;
  }

  &__description {
    display: flex;
  }
}

@include respond-above(md) {
  .collapse {
    padding-bottom: 20px;
  }
}

@include respond-above(mac) {
  .collapse {
    padding-bottom: 50px;
  }
}

@include respond-above(xlg) {
  .collapse {
    padding-bottom: 55px;
  }
}

@include respond-above(fhd) {
  .collapse {
    padding-bottom: 65px;
  }
}

@include respond-above(fhd-plus) {
  .collapse {
    padding-bottom: 81px;
  }
}

@include respond-above(2k) {
  .collapse {
    padding-bottom: 88px;
  }
}
