.termsOfUse {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;

  &__headline {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #121213;
    margin-bottom: 24px;
  }

  &__description {
    text-align: left;
    font-size: 14px;
    line-height: 140%;
    color: #3E3E3E;

  }
}

@include respond-above(md) {
  .termsOfUse {
    &__headline {
      font-size: 24px;
    }
  }
}