@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";
.container {
  background: #F9F9F9;
  width: 100%;
}
.footer {
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 23px 42px;


  &_left {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 48px;

    &__list {
      display: flex;
      flex-direction: row;


      &__link {
        font-size: 14px;
        line-height: 17px;
        color: #121213;
      }
    }
  }

  &_right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
    & svg {
      width: 120px;
      height: 35px;
    }


    &__list {
      padding: 6.5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      & svg {
        width: 120px;
        height: 35px;
      }
      &__text {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }

      &__title {

      }

      &__link {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
      }
    }
  }

}

@include respond-above(sm) {
.footer{
  display: flex;
}
}

@include respond-above(md) {

}

@include respond-above(lg) {
  .footer{
    height: 64px;
    width: 1168px;
    padding: 23px 42px;
    margin: 0 auto;
  }

}

@include respond-above(mac) {

}

@include respond-above(xlg) {

}

@include respond-above(fhd) {

}

@include respond-above(fhd-plus) {

}

@include respond-above(2 k) {

}