@import "../../../public/styles/varibles";
@import "../../../public/styles/mixins/index";

.root {
  height: 40px;
  //position: absolute;
  width: 100%;
  top: -60;
  display: flex;
  justify-content: left;
  margin-bottom: 15px;

  div {
    width: 100%;
    padding: 8px 8px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;

    & p {
      font-size: 13px;
      line-height: 120%;
      color: #D61414;
    }
  }
  &_closeButton {
    width: 24px !important;
    height: 24px !important;
    background: #FFFFFF !important;
    svg {
      width: 14px;
      height: 14px;
      & path{
        fill: #D61414;
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    height: 52px;
    top: -78;

    & div {
      width: 100%;

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

