.search {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.leftBox {
  width: 25%;
  @media (max-width: 600px) {
    display: none;
  }
}

.category {
  h3 {
    font-family: Inter, sans-serif;
  }
}