.cardBody {
  margin: 10px 0 0 5px;
}

.category {
  margin: 5px 0;
}

.description {
  margin: 5px 0;
}

.comments {
  margin: 5px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}