@import "styles/modules/variables/colors";
@import "styles/modules/mixins/font";

.cardBody {
  margin: 10px 0 0 5px;
}

.category {
  @include font(14px, 400, 16px);
  color: #818181;
  margin: 5px 0;
}

.description {
  margin: 5px 0;
  @include font(14px, 400, 18px)
}

.comments {
  margin: 10px 0 0 5px;
  color: #A5A5A5;
  @include font(14px, 500, 16px);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    margin: 10px 5px;
  }
}

.views {
  display: flex;
  align-items: center;
  span{
    margin: 0 10px;
  }
}