@import "../../styles/modules/mixins/font";
@import "../../styles/modules/mixins/button";

.createBox {
  position: absolute;
  background: #ECECEC;
  width: 100%;
  height: 715px;
  z-index: 10;
  margin-left: 26px;
}

.topPanel {
  background: #E7E7E7;
  padding: 20px 0;

  .close {
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
  }

  .title {
    @include font(16px, 500, 20px);
  }
}

.preview {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
    height: 90%;
  }
}

.images {
  display: flex;
  align-items: center;
  margin: 10px 0;

  div {
    margin: 10px 10px;
    width: 74px;
    height: 74px;
    background: #FFFFFF;
  }

  img {
    margin: 0 10px;
    width: 78px;
    height: 78px;
  }

  input[type="file"] {
    display: none;
  }
}


.addMoreImage {
  background: url("/icons/addMoreImage.png") no-repeat center !important;
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 0 10px;

  label {
    width: 100%;
    height: 100%;
  }
}

.imagesList {
  cursor: pointer;
}