@import "../../styles/modules/mixins/font";
@import "../../styles/modules/mixins/button";

.createBox {
  position: absolute;
  background: #ECECEC;
  width: 100%;
  height: 715px;
  z-index: 10;
  margin-left: 26px;
}

.topPanel {
  background: #E7E7E7;
  padding: 20px 0;

  .close {
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
  }

  .title {
    @include font(16px, 500, 20px);
  }
}

.preview {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
    height: 90%;
  }
}

.images {
  display: flex;
  align-items: center;
  margin: 10px 0;

  div {
    margin: 10px 10px;
    width: 74px;
    height: 74px;
    background: #FFFFFF;
  }

  img {
    margin: 0 10px;
    width: 78px;
    height: 78px;
  }

  input[type="file"] {
    display: none;
  }
}

.bottomPanel {
  display: flex;
  background: #ECECEC;
  padding: 20px 0;
  height: 50px;
  justify-content: space-around;
  width: 100%;
  z-index: 10;

  label {
    cursor: pointer;
    width: 74px;
    height: 50px;
    background: url("/icons/addImage.png") no-repeat center;
  }

  input[type="file"] {
    display: none;
  }

  textarea {
    outline: none;
    text-indent: 10px;
    padding: 10px 0;
    margin: 0 10px;
    background: #F8F8F8;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
  }

  button {
    margin: 0 10px;
    padding: 8px 24px;
    background: #E56366;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.addMoreImage {
  background: url("/icons/addMoreImage.png") no-repeat center !important;
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 0 10px;

  label {
    width: 100%;
    height: 100%;
  }
}

.imagesList {
  cursor: pointer;
}