.collapse-icon-plus {
  width: 12px;
  height: 12px;
  display: block;
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  &_collapsed {
    transform: rotate(0deg);
  }

  @include respond-above(sm) {
    width: 16px;
    height: 16px;

  }

  @include respond-above(md) {
    width: 17px;
    height: 17px;

  }

  @include respond-above(mac) {
    width: 24px;
    height: 24px;
  }
}
