@font-face {
  font-family: 'NimbusSanOutExtD';
  src: url('/fonts/NimbusSanOutExtD-Bla.eot');
  src: url('/fonts/NimbusSanOutExtD-Bla.eot?#iefix') format('embedded-opentype'),
  url('/fonts/NimbusSanOutExtD-Bla.woff2') format('woff2'),
  url('/fonts/NimbusSanOutExtD-Bla.woff') format('woff'),
  url('/fonts/NimbusSanOutExtD-Bla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'NimbusSanExtD';
  src: url('/fonts/NimbusSanExtD-Bol.eot');
  src: url('/fonts/NimbusSanExtD-Bol.eot?#iefix') format('embedded-opentype'),
  url('/fonts/NimbusSanExtD-Bol.woff2') format('woff2'),
  url('/fonts/NimbusSanExtD-Bol.woff') format('woff'),
  url('/fonts/NimbusSanExtD-Bol.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'NimbusSanExtD';
  src: url('/fonts/NimbusSanExtD-Bla.eot');
  src: url('/fonts/NimbusSanExtD-Bla.eot?#iefix') format('embedded-opentype'),
  url('/fonts/NimbusSanExtD-Bla.woff2') format('woff2'),
  url('/fonts/NimbusSanExtD-Bla.woff') format('woff'),
  url('/fonts/NimbusSanExtD-Bla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'NimbusSanExtD';
  src: url('/fonts/NimbusSanExtD-Lig.eot');
  src: url('/fonts/NimbusSanExtD-Lig.eot?#iefix') format('embedded-opentype'),
  url('/fonts/NimbusSanExtD-Lig.woff2') format('woff2'),
  url('/fonts/NimbusSanExtD-Lig.woff') format('woff'),
  url('/fonts/NimbusSanExtD-Lig.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
