$white: #ffffff;
$black: #161616;
$yellow: #FFBE00;
$nativeBlack: #000000;
$darkBlue: #001E28;
$lightBlue: #547491;

$defaultTextColor: $nativeBlack;
$defaultLinkColor: $black;
$activeLinkColor: $black;
$backgroundColor: $white;
$headlineColor: $nativeBlack;
$collapseArrowColor: $white;
$collapseArrowHoverColor: $yellow;