.PhoneInput {
  position: relative;
  width: 100%;
  padding: 12px 16px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 8px;
  img {
    position: absolute;
    width: 20px;
    height: 15px;
  }
  svg {
    position: absolute;
    width: 20px;
    height: 15px;
  }
  select {
    padding-left: 35px;
    width: 40px;
    height: 15px;
    position: absolute;
    background: none;
    border: none;
    z-index: 1;
  }
}
.PhoneInputInput{
  position: absolute;
  font-size: 14px;
  line-height: 150%;
  color: #171717;
  height: 15px;
  left: 56px;
  border: none;
}