.bottomPanel {
  position: fixed;
  display: flex;
  background: #ECECEC;
  padding: 20px 0;
  height: 50px;
  justify-content: space-around;
  width: 50%;
  z-index: 10;
  bottom: 0;
  left: 33%;

  button {
    width: 200px;
    &:disabled {
      opacity: .5;
    }
  }
  @media (max-width: 600px) {
    display: none;
  }


  label {
    cursor: pointer;
    width: 74px;
    height: 50px;
    background: url("/icons/addImage.png") no-repeat center;
  }

  input[type="file"] {
    display: none;
  }

  textarea {
    outline: none;
    text-indent: 10px;
    padding: 10px 0;
    margin: 0 10px;
    background: #F8F8F8;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
  }

  button {
    margin: 0 10px;
    padding: 8px 24px;
    background: #E56366;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}