@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";
@import "styles/modules/mixins/input";
@import "styles/modules/mixins/button";

.pos {
  position: relative;

  &:before {
    content: "Номер телефона";
    position: absolute;
    top: -20px;
    @include font(12px, 400, 14px);
  }
}

.phone {
  @include input();
  box-sizing: border-box;
  width: 280px;
  height: 40px;
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  h3 {
    @include font(24px, 700, 28px);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    @include input();
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
  }

  .regButton {
    @include btn();
    padding: 0 20px;
  }
}

.check {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    margin-right: 10px;
  }

  span {
    @include font(14px, 400, 18px)
  }
}

.form {
  width: 50%;

  &:before {
    content: "Номер телефона";
    @include font(12px, 500, 14px);
    color: #667689;
  }

  .group {
    display: flex;
    align-items: center;

    input {
      width: 80%;
      margin-left: 20px;
    }
  }

}


