@import "components/ResetPassword/ConfirmReset/styles.module";

.phoneInput {
  width: 100% !important;
}

.cancel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #E56366;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
  }
}