@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.nav{
      display: flex;
      width: 100%;
      padding: 16px 16px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &_left {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      &_right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__profileImg {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #D3D3D3;
        }

        &_list {
          list-style: none;
          margin-left: 16px;
          padding-right: 16px;
          border-right: 1px solid #D3D3D3;
          font-weight: 500;
          font-size: 18px;
          line-height: 16px;
          color: #181818;

          & a {
            display: flex;
            align-items: center;
          }

          & svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }

        &_listNoBorder {
          padding-right: 0;
          border-right: none;
        }

      }
    }

@include respond-above(sm) {
  .nav{
    width: 1168px;
    margin: 0 auto;
    padding: 0 24px ;
  }
}

@include respond-above(lg) {
  .nav{
      width: 1168px;
      margin: 0 auto;
      padding: 16px 0;
    }
  }
