@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";


.nested {
  p {
    @include font(14px, 500, 16px);
    cursor: pointer;
  }

}

.region {
  width: 100%;

  input {
    width: 100%;
    cursor: pointer;
  }
}

.regionMenu {
  li {
    @include font(18px, 500, 22px);
    cursor: pointer;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;;
    margin: 10px 0;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.regionItem {
  display: flex;
  justify-content: space-between;
}