@import "styles/modules/mixins/font";
@import "styles/modules/variables/colors";
@import "styles/modules/mixins/input";
@import "styles/modules/mixins/button";


.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

h1 {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.error {
  display: block;
  color: red;
}

.gender {
  width: 100%;
  padding: 0;

  .css-yk16xz-control {
    padding: 0;
    @include input();
  }
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #E56366 !important;
}

:global(.hide) {
  display: none !important;
}

:global(.changePhoneNumber) {
  display: none;
}

.display {
  opacity: 0;
  transition: opacity 1s;
}

.clean {
  opacity: 1;
  transition: opacity 1s;
}

:global(.swiper-button-next:after) {
  font-size: 32px !important;
}

:global(.swiper-button-prev:after) {
  font-size: 32px !important;
}