.fade-enter {
  position: absolute;
  opacity: 0;
}

.fade-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-enter-done {
  position: relative;
}