@import "../../public/styles/varibles";
@import "../../public/styles/mixins/index";

.registrationForm {
  display: flex;
  flex-direction: column;
  width: 350px;

  &__registrationFormTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
    color: #201E1E;
  }
  &__wrap{
    display: flex;
    width: 100%;
    gap: 12px;
    &_left{
      width: 40%;
    }
    &_right{
      width: 58%;
    }
    & span {
      color: #667689;
      font-size: 12px;
      line-height: 130%;
    }
  }

  &__input {
    width: 100%;
    padding: 10px 12px 10px 16px;
    height: 44px;
    background: transparent;
    border: 1px solid #E6EFF9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 12px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #667689;

    }

    &:focus {
      color: #121213;
    }
  }
  &__select {
    width: 100%;
    padding: 10px 12px 10px 16px;
    height: 44px;
    background: transparent;
    border: 1px solid #E6EFF9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #667689;
    &:after{
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid red;
      border-color: #fff transparent transparent transparent;
    }

  }
  &__button {
    width: 100%;
    border-radius: 6px;
    height: 44px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background: rgba(229, 99, 102, 0.5);
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;

    &__active {
      background: #E56366;
    }

  }

  &__label {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #667689;
    margin: 2px 0;
  }

 &__checkBox {
    width: 20px;
    height: 20px;
    border: 1.6px solid #667689;
    box-sizing: border-box;
    border-radius: 4px;

    &_link {
      color: #E56366;
      font-size: 12px;
      line-height: 130%;
    }
  }
}